In [1]:
# write a program to sbstract two complex nmbers in python,
a = 7 + 32j
print(a)

(7+32j)

In [1]:
# write program to find the forth root of a number,
7**4

2401

In [2]:
# Write a program to swap to numbers in python without using temporery variable,
x = 7 
y = 9

x,y = y, x
print("x =", x)
print("y =", y)

x = 9
y = 7

In [3]:
# Write a program to swap to numbers in python using temporery variable,
temp = x
x = y
y = temp

print('The vale of x after swapping:{}'.format(x))
print('The vale of y after swapping:{}'.format(y))

The vale of x after swapping:7
The vale of y after swapping:9

In [26]:
# Write a python program to convert fahrenheit to celsius both,
fahrenheit = float(input("Enter temperatre in fahrenheit:"))
celsis = (fahrenheit - 32) * 5/9
print('%.2f Fahrenheit is: %.2f Celsius' %(fahrenheit,celsis))

Enter temperatre in fahrenheit:77
77.00 Fahrenheit is: 25.00 Celsius

In [27]:
celsius = float(input("Enter temperatre in celsius:"))
fahrenheit = (celsius - 9/5) +32
print('%.2f celsius is: %.2f Fahrenheit' %(celsis, fahrenheit))

Enter temperatre in celsius:77
25.00 celsius is: 107.20 Fahrenheit

In [15]:
# Write a python program to demonstrate all available data types in python,
a = 5
type(a)

int

In [16]:
A = "Kunal"
type(A)

str

In [18]:
K = 36 + 55j
type(K)

complex

In [19]:
S = 37.1
type(S)

float

In [22]:
a = 11,00,000
print(type(a))

<class 'tuple'>

In [23]:
type(111)

int

In [24]:
type("1,00,00")

str